html {
  background-color:#f4f4f4;
  /*font-family: "Century Gothic"; /* Имя шрифта */
  /*src: url(fonts/GOTHIC.TTF);*/
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;
}

body {
  font-size: 18px;
}

/*.icon-wrapper {
  outline: 1px 3px solid #666;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  box-shadow: 1px 1px 10px 1px #262626;
  border-radius: 10px;
}*/

.back {
  /*text-decoration: none;*/
  position: fixed;
  top: 40%;
  /*font-weight: 600;*/
  left: 20%;
  /*color: #262626;
  font-size: 1.7rem;*/
  display: flex;
  
  
}

.back img {
  padding: 7px;
}


.icon {
  width: 15em;
  height: 15em;
  /*box-shadow: 0 0 5px #262626;*/
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  transition:0.2s ease box-shadow;
  margin:0 auto;
  /*border: 0.5px solid #262626;*/
  border-radius: 5px; 
  /*box-shadow: 1px 0px 2px 0 #262626;*/
  border: 3px solid #262626;
}

#bottom {
  background: #f4f4f4;
  width: 69%;
  height: 34.5%;
  position: fixed;
  top: -1%;
  left: 10%;
  z-index: -1;
  /*box-shadow: inset 1px 1px 10px black;*/
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 3px solid #262626;
}

/*.icon:hover {
  box-shadow: 0 0 5px #262626;
}*/

.icon * {
  box-sizing:border-box;
}
.icon {
  background-color:#f4f4f4; 
}
/* металлическая пластина */
.icon-floppy:after {
  position:absolute;
  top: 2%;
  background: #f4f4f4;
  height: 26%;
  width: 12%;
  right: 32%;
  content:"";
  transition: 0.1s ease all;
  z-index: 6;
  /*box-shadow: inset 1px 1px 10px black;*/
  border: 3px solid #262626;
}

.icon-floppy:before {
  position:absolute;
  top: -2%;
  background-color: #f4f4f4;
  /*background-image: linear-gradient(315deg, #262626 0%, #81b29a 74%);*/
  height: 33%;
  width: 53%;
  left: 24%;
  margin-right:-.5em;
  content:"";
  border-bottom-right-radius: 7px;
  z-index: 5;
  
  /*box-shadow: -5px 0px 10px -7px black;  */
  border: 3px solid #262626;
  transition: 0.1s ease all;
}
/* этикетка */
.icon-floppy p {
  position: fixed;
  width: 76%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  top: 37%;
  left: 12%;
  height: 52%;
  background: #f4f4f4;
  color: #262626;
  z-index: 4;
  border-radius: 7px;
  padding-top: 15%;
  border: 3px solid #262626;
}

span:hover {
  /*transition: color 1.0s ease;
  color: #81b29a;*/
  cursor: default;
}

#span-bottom {
  background: #f4f4f4;
  width: 80%;
  top: 41%;
  left: 10%;
  height: 60%;
  z-index: 3;
  position: fixed;
  /*box-shadow: inset 1px 1px 10px black;*/
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border: 3px solid #262626
}

.icon-floppy p:after {
  position:relative;
  height:0.5px;
  display:block;
  content:"";
  width:100%;
  margin-top:.25em;
  clear:both;
  overflow:hidden;
  line-height:1px;
  bottom:1em;
}
.icon-floppy p:before {
  position:relative;
  
  height:0.5px;
  display:block;
  content:"";
  width:100%;
  margin-top:.25em;
  clear:both;
  overflow:hidden;
  line-height:1px;
}
/* hover slide effect */
.icon-floppy:hover:before {
  left: 10%;
  margin-right:-.3em;
  /*transition: box-shadow 0.3s ease-in-out all;
  box-shadow: 5px 0px 10px -7px black;*/
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;  
  border-bottom-right-radius: 0px; 
  border-top-left-radius: 0px;  
  border: 3px solid #262626;
  transition: 0.4s ease-out all;
}

.icon-floppy:hover:after {
  right: 40%;
  background-color: #262626;
  border: 3px solid #262626;
  transition: 0.4s ease-out all;
}

/* icon wrapper for this presentation only */
.icon-wrapper {
text-align:center;
padding:20% 0 20% 0;

}
/* to show the icon zoomed/enlarged */
/*#outside {
height: 0; 
width: 50px;
border-bottom: 100px solid #262626;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 50ps solid transparent;
position: fixed;
top: 6%;
right: 31%;
transform: rotate(32deg);
z-index: 6;
}*/

#inside {
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  position: fixed;
  top: 87%;
  right: 1%;
  /*box-shadow: inset 1px 1px 3px black;*/
  z-index: 5;
  border: 3px solid #262626;
}

#inside2 {
  width: 20px;
  height: 20px;
  background-color: #a594f9;/* #9c89b8*/
  position: fixed;
  top: 87%;
  left: 1%;
  /*box-shadow: inset 1px 1px 5px black;*/
  z-index: 5;
  border: 3px solid #262626;
}

/*#outside2 {
  height: 0; 
  width: 30px;
  border-bottom: 100px solid #f4f4f4;
  border-left: 50px solid transparent;
  border-right: 10px solid transparent;
  position: fixed;
  top: -8%;
  left: 35%;
  transform: rotate(0.5turn);
  z-index: 2;
}*/

/*#outside3 {
  height: 0; 
  width: 25px;
  border-bottom: 100px solid #f4f4f4;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: fixed;
  top: 5%;
  right: 39.5%;
  transform: rotate(0.5turn);
  z-index: 5;
  
}

.print {
  width: 50px;
  height: 50px;
  background: blueviolet;
  position: absolute;
  left: 37%;
  top: 11%;
  z-index: 6;
  transition: 0.3s ease all;
}

.print:hover {
  right: 19%;
  margin-right: 10%;
  transition: 0.3s ease all;
}*/

.cv1 {
  position: fixed;
  top: 26%;
  left: 0%;
  display: flex;
  flex-direction: column;
  padding-right: 63%;
  padding-left: 2%;
  font-size: 1.5rem;
  text-align: justify;
  vertical-align: auto;
  font-weight: 500;
}

.cv2 {
  /*text-decoration: none;*/
  position: fixed;
  top: 26%;
  /*font-weight: 600;*/
  right: 0%;
  /*color: #262626;
  font-size: 1.7rem;*/
  display: flex;
  flex-direction: column;
  padding-left: 63%;
  padding-right: 2%;
  font-size: 1.5rem;
  text-align: justify;
  vertical-align: auto;
  font-weight: 500;
}

.icon-floppy a {
  color: #262626;
  font-size: 1.2rem;
}

a:hover {
  transition: color 1.0s ease;
  color: #a594f9; /*ac9fbb*/
  
}

img {
  width: 2.5rem;
}
