html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

  body {
    background: #e7e7e7;
  }

  header {
    margin-block-start: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  header > h1 {
    flex: 1;
    font-size: 25px;
    font-weight: bold;
    margin-inline-start: 20px;
  }

  header > a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-block-start: 10px;
    margin-inline-start: auto;
    margin-inline-end: 20px;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    font-size: 75px;
  }

  p {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 15px;
  }

  li {
    display: inline-block;
  }

  li > a {
   display: inline-block;
   text-decoration: none;
   color: #000;
  }

  footer .container {
    position: absolute;
    top: 550px;
    right: 35px;
    left: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    padding: 15px;
  }

  .link::after {
   content: "";
   display: block;
   width: 0;
   height: 1px;
   background: #000;
   transition: width .2s;
  }

  .link:hover::after {
    width: 100%;
    transition: width .3s;
  }

 

