html {
  font-family: 'IBM Plex Mono', monospace;
  color: #000;
  }
  
  body {
    background: #e7e7e7;
  }
  
  section {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: regular;
    margin-inline-start: 10px;
  }

  
  