html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

  body {
    background: #ffff;
    font-size: 18px;
  }

  @font-face {
    font-family: "Century Gothic"; /* Имя шрифта */
    src: url(fonts/GOTHIC.TTF); /* Путь к файлу со шрифтом */
  }

  #wrapper {
    display: flex;
    justify-content: space-between;
  }

  .name {
    margin-block-start: 10%;
    margin-inline-start: 6%;
    font-size: 4rem;
  }

  .description img {
    margin-block-start: 20%;
    margin-inline-start: 30%;
    width: 35%;
    background-color: #c3a5cb; 
    border-radius: 50%;
    padding: 5%;
  }

  img:hover {
    transform: rotate(85deg)
  }

 

